body,
html {
  padding: 0;
  margin: 0;
  height: 100%;
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.header {
  background-color: black;
  color: white;
  padding: 15px;
  text-align: center;
}

.main {
  height: 100%;
  background-color: navy;
  display: flex;
  justify-content: space-around;
}

.gameSelectContainer {
  margin: 20%;
  background-color: grey;
  outline-style: solid;
  outline-color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.boardsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  height: 100%;
  gap: 30px;
}

.playerBoard {
  background-color: grey;
  border-style: solid;
  border-width: 5px;
  border-color: grey;
  width: 100%;
  aspect-ratio: 1 / 1;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
}
.computerBoard {
  background-color: grey;
  border-style: solid;
  border-width: 5px;
  border-color: grey;
  width: 100%;
  aspect-ratio: 1 / 1;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.computerBoard:hover {
  cursor: crosshair;
}

.computerBoard > button {
  cursor: crosshair;
  border-style: solid;
}
button:hover.waterBox {
  z-index: 2;
  border-style: solid;
  border-width: 5px;
  border-color: red;
  outline-style: solid;
  outline-width: 5px;
  outline-color: red;
  background-color: red;
  clip-path: polygon(
    40% 24%,
    23% 41%,
    43% 48%,
    22% 59%,
    36% 73%,
    49% 59%,
    59% 71%,
    73% 57%,
    56% 48%,
    72% 38%,
    59% 26%,
    49% 39%
  );
}

.waterBox,
.hitBox,
.shipBox,
.missBox {
  border-width: 5px;
  border-color: grey;
  border-style: solid;
}
.waterBox {
  background-color: white;
}
.hitBox {
  background-color: red;
}
.missBox {
  background-color: darkblue;
}
.shipBox {
  background-color: black;
  border-color: black;
}

.selectionBoard {
  height: 80%;
  aspect-ratio: 1 / 1;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
  gap: 5px;
}

.emptyBox {
  background-color: blue;
}
.tempShip {
  background-color: lightgreen;
}
.invalidPossition {
  background-color: red;
}
