body,
html {
  padding: 0;
  margin: 0;
  height: 100%;
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.header {
  background-color: black;
  color: white;
  padding: 15px;
  text-align: center;
}

.main {
  height: 100%;
  background-color: lightslategray;
  display: flex;
  justify-content: space-around;
}

.gameSelectContainer {
  margin: 20%;
  background-color: grey;
  outline-style: solid;
  outline-color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.boardsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  height: 100%;
  gap: 30px;
}

.playerBoard {
  width: 100%;
  aspect-ratio: 1 / 1;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
  gap: 5px;
}
.computerBoard {
  width: 100%;
  aspect-ratio: 1 / 1;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 5px;
}

.computerBoard > button {
  border-style: none;
}
.computerBoard > button:hover {
  border-style: solid;
  border-width: 5px;
  border-color: red;
}

.waterBox {
  background-color: blue;
}
.hitBox {
  background-color: red;
  border-style: solid;
  border-color: white;
}
.missBox {
  background-color: darkblue;
}
.shipBox {
  background-color: grey;
  border-style: solid;
  border-color: white;
}

.selectionBoard {
  height: 80%;
  aspect-ratio: 1 / 1;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
  gap: 5px;
}

.emptyBox {
  background-color: blue;
}
.tempShip {
  background-color: lightgreen;
}
.invalidPossition {
  background-color: red;
}
